@model IEnumerable<DoAnWeb.Models.LoaiSP>
@{
    ViewBag.Title = "ListCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="container py-5">
    <h2>Danh sách loại sản phẩm</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @*load dữ liệu từ csdl lên trang caterogy listCategory*@
    <div class="row ">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 product-wap rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img rounded-0 img-fluid" src="~/assets/img/@item.Hinh">
                        <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                            @*icon delete-detail-edit-giohang*@
                            <ul class="list-unstyled">
                                <li><a class="btn btn-success text-white" href="@Url.Action("Edit", "Category", new {id = item.MaloaiSP})"><i class="far fa-edit"></i></a></li>
                                <li><a class="btn btn-success text-white mt-2" href="@Url.Action("Detail", "Category", new {id = item.MaloaiSP})"><i class="far fa-eye"></i></a></li>
                                <li><a class="btn btn-success text-white mt-2" href="@Url.Action("Delete", "Category", new {id = item.MaloaiSP})"><i class="far fa-trash-alt "></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="shop-single.html" class="h3 text-decoration-none"><i>Tên sản phẩm:</i> @item.TenloaiSP </a>
                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                            <li><i>Số lượng:</i> @item.Soluong  <br /> <i>Ngày cập nhật:</i> @item.Ngaycapnhat<br /></li>
                            <li class="pt-2">
                                <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                            </li>
                        </ul>
                        <ul class="list-unstyled d-flex justify-content-center mb-1">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                        </ul>
                        <p class="text-center mb-0"> <b>@item.MaloaiSP</b> </p>
                    </div>
                </div>
            </div>
        }
    </div>

</section>
