@model IEnumerable<DoAnWeb.Models.LoaiSP>

@{
    ViewBag.Title = "ListCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container p-5 my-5 border">
    <h2>ListCategory</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenloaiSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dongia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaycapnhat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soluong)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenloaiSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dongia)
                </td>
                <td>
                    <img src="~/assets/img/@item.Hinh" width="250px" alt=" hinh thumbnail" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ngaycapnhat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soluong)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MaloaiSP }) |
                    @Html.ActionLink("Detail", "Detail", new { id = item.MaloaiSP }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MaloaiSP })
                </td>
            </tr>
        }

    </table>
    </div>