@model IEnumerable<DoAnWeb.Models.Giohang>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container p-5 my-5 border">
    <h2>Giỏ hàng </h2>

    <table class="table">
        <tr>

            @*<th>@Html.DisplayNameFor(model => model.tenlaptop)</th>*@
            <th>Mã sản phẩm</th>
            @*<th>@Html.DisplayNameFor(model => model.hinh)</th>*@
            <th>Tên sản phẩm</th>
            @*<th>@Html.DisplayNameFor(model => model.giaban)</th>*@
            <th>Hình</th>
            <th>Gía Bán</th>
            <th>Số Lượng</th>
            <th>Thành Tiền</th>

            @*<th>@Html.DisplayNameFor(model => model.iSoLuong)</th>
                <th>@Html.DisplayNameFor(model => model.dThanhTien)</th>*@
            <th></th>
            <th></th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.masanpham)</td>
                <td>@Html.DisplayFor(modelItem => item.tensanpham)</td>
                <td> <img src="~/assets/img/@item.hinhsp" width="180" /> </td>
                @using (Html.BeginForm("CapnhapGiohang", "GioHang", new { @id = item.masanpham }))
                {
                    <td> @string.Format("{0:0,0}", item.dongia) VNĐ </td>
                    <td> <input type="number" min="1" name="txtSoLg" value="@item.iSoLuong" /> </td>
                    <td> @Html.DisplayFor(modelItem => item.dThanhTien)</td>
                    <td>
                        <a href="@Url.Action("Detail","Shop", new {id=item.masanpham})"> Chi tiết</a> | @Html.ActionLink("Xóa", "XoaGioHang", new { @id = item.masanpham })
                    </td>
                    <td> <input type="submit" value="Cập nhật" class="btn btn-success" /></td>
                }
            </tr>
        }
        <tr style="font-weight:bold; text-align:left; color:red">
            <td colspan="2"> Số loại sản phẩm: @ViewBag.Tongsoluongsanpham</td>
            <td colspan="2"> Số lượng sản phẩm: @ViewBag.Tongsoluong</td>
            <td colspan="4"> Tổng tiền: @String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ</td>
        </tr>
        <tr style="font-weight: bold; color: red; text-align: right">
            <td colspan="5">
                @Html.ActionLink("Xóa giỏ hàng", "XoaTatCaGioHang")
            </td>
        </tr>
        <tr style="font-weight: bold; color: yellow; text-align: right">
            <td colspan="5">

                <div class="button">
                    @Html.ActionLink("Đặt hàng", "Dathang", "GioHang")
                </div>

            </td>
        </tr>
    </table>
    </div>


